<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game2.css" />
    <title>This App</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <img src="../png/win.png" alt="" class="modal win hidden" />
      <img src="../png/lose.png" alt="" class="modal lose hidden" />

      <div class="header">
        <a href="main.html" class="back"></a>

        <div class="balance_cont btn block">
          <img src="../png/coin.png" alt="" />
          <div class="balance"></div>
        </div>
      </div>

      <div class="slot_cont_cont block">
        <div class="slot_cont"></div>
      </div>

      <div class="footer block">
        <div class="spin btn block">SPIN</div>
      </div>
    </div>

    <script src="../scripts/jQuery.js"></script>
    <script src="../scripts/game2.js"></script>
  </body>
</html>
