<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>App</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <img src="../png/modal.png" alt="" class="modal hidden" />

      <div class="header">
        <div class="back"></div>

        <div class="balance_cont btn block">
          <img src="../png/coin.png" alt="" />
          <div class="balance"></div>
        </div>
      </div>

      <div class="links">
        <a href="game1.html" class="link">
          <img src="../png/gl1.png" alt="" />
        </a>

        <a href="game2.html" class="link">
          <img src="../png/gl2.png" alt="" />
        </a>

        <a href="game3.html" class="link">
          <img src="../png/gl3.png" alt="" />
        </a>

        <div class="link">
          <img src="../png/gl4.png" alt="" />
        </div>

        <div class="link">
          <img src="../png/gl5.png" alt="" />
        </div>

        <div class="link">
          <img src="../png/gl6.png" alt="" />
        </div>
      </div>

      <div class="footer">
        <a href="main.html" class="footer_link">
          <img src="../png/m1.png" alt="" />
        </a>

        <a href="news.html" class="footer_link">
          <img src="../png/m2.png" alt="" class="na" />
        </a>
      </div>
    </div>

    <script src="../scripts/main.js"></script>
  </body>
</html>
